---
layout: base.liquid
title: writing
---
You can find my best book ($1) <a class="hover" href="https://www.amazon.com/Rare-Objects-Strange-Places-Stories-ebook/dp/B08413JJ7P/">here</a>.
<br/><br/>
As a columnist for the Iowa State Daily, I share some of my most scathing opinions <a class="hover" href="http://www.iowastatedaily.com/search/?sd=desc&l=25&s=start_time&d1=5+years+ago&f=html&t=article%2Cvideo%2Cyoutube%2Ccollection&app=editorial&nsa=eedition&q=shiralkar">here</a>.
<br/><br/>
This page serves as a collection of some of my regular musings, properly capitalized and formatted (most people call it a blog). 
Since it is under construction, this webpage may appear broken to you.
<div class="blogcontent">
    {% for post in collections.afsob %}
    <h2 class="blogcontenttitle"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <em>{{ post.date. | date: "%B %d, %Y" }}</em>
{% endfor %}
</div>    
<hr class="horiz">
<h1 class="blogtitle">
    Blog
</h1>
<div class="blogcontent">
    {% for post in collections.posts %}
    <h2 class="blogcontenttitle"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <em>{{ post.date. | date: "%B %d, %Y" }}</em>
{% endfor %}
</div>

<p></p>
<br/>
<a href="/" class="hover">Go back to the homepage!</a>