{% include header %}
<h1 class="name"><span class="undertxt"><a href="https://tools.ietf.org/html/rfc7231#section-6.5.4">ERROR:
      404</a></span>
</h1>

<div class="bodytext">
  <span class="page404msg1">Looks like</span><span class="page404msg2"> this page is breaking</span>
  <span class="page404msg1"> character!</span>
  <p class="page404msg2"> <a href="/">Click here to go back!</a></p>
</div>

{{ content | safe }}

{% include footer %}