<hr />
    <footer>
      <ul>
        <li><a href="https://raw.githubusercontent.com/partheus/website/master/LICENSE" class="foothover">© <script>document.write(new Date().getFullYear())</script> — Parth Shiralkar</a></li>
        <li><a href="https://github.com/partheus"><img src="/icons/github.png" class="social"></a></li>
        <li><a href="https://www.linkedin.com/in/parthshiralkar/"><img src="/icons/linkedin.png" class="social"></a></li>
      </ul>
    </footer>
  </body>
</html>