{% include header %}
  <h1 class="name">c<span class="undertxt"><a href="/looking">oo</a></span>l s<span class="periodt"><a
        href="https://dood.al/pinktrombone/">tuff</a></span></span>
  </h1>
  <div class="bodytext">
    {{ pagecontent }}
  </div>
  {{ content | safe }}

  {% include footer %}