    {% include header %}
    <h1 class="name">p<span class="undertxt"><a href="/art">art</a></span>h shiralkar<span
        class="periodt">.</span></span>
    </h1>
    <div class="bodytext">
      {{ pagecontent }}
    </div>
    {{ content | safe }}
    {% include footer %}