{% include header %}
<h1 class="posttitle">
  <span> {{ title }}</span>
</h1>

<div class="blogcontent">
  {{ pagecontent }}
</div>

<div class="bodytext">
  {{ content | safe }}
</div>
<p></p>
<a href="/writing" class="hover">Go back to the writing section!</a>

{% include footer %}